page-community-detail {

    #map {
        height: 30%;
      }
    
      .position-bottom {
        position: absolute;
        bottom: 5px;
        left: 4px;
      }
    
      .margin5 {
        margin-right: 5px;
      }
}
