<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <!-- lugar -->
  <ion-item-divider color="light" (click)="openGroup1()">
    Lugar
    <ion-icon item-right [name]="g1icon"></ion-icon>
  </ion-item-divider>
  <ion-item-group #group1>
    <ion-item>
      <ion-label floating>Dirección:</ion-label>
      <ion-input value="{{parent.d_traffic_place_address}}" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Distrito:</ion-label>
      <ion-input value="{{parent.d_traffic_place_district}}" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Provincia:</ion-label>
      <ion-input value="{{parent.d_traffic_place_province}}" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Provincia:</ion-label>
      <ion-input value="{{parent.d_traffic_place_type}}" [disabled]="true"></ion-input>
    </ion-item>
  </ion-item-group>
  <!-- animal -->
  <ion-item-divider color="light" (click)="openGroup2()">
    Animal
    <ion-icon item-right [name]="g2icon"></ion-icon>
  </ion-item-divider>

  <ion-item-group #group2>
    <ion-item>
      <ion-label floating>Descripción General.</ion-label>
      <ion-textarea value="{{parent.description}}" [disabled]="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Descripción del animal.</ion-label>
      <ion-textarea value="{{parent.d_animal_name}}" [disabled]="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Caracteristicas:</ion-label>
      <ion-textarea value="{{parent.d_animal_specie}}" [disabled]="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Tipo:</ion-label>
      <ion-textarea value="{{parent.d_animal_type}}" [disabled]="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Otro:</ion-label>
      <ion-input value="{{parent.d_animal_type}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Edad:</ion-label>
      <ion-input value="{{parent.d_animal_age}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Tamaño:</ion-label>
      <ion-input value="{{parent.d_animal_size}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Color:</ion-label>
      <ion-input value="{{parent.d_animal_color}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Estado:</ion-label>
      <ion-input value="{{parent.d_animal_status}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Cantidad:</ion-label>
      <ion-input value="{{parent.d_animal_quanty}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Precio:</ion-label>
      <ion-input value="{{parent.d_animal_price}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confinamiento:</ion-label>
      <ion-input value="{{parent.d_animal_confinement}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>¿Conoce el nombre de la persona que esta traficando?:</ion-label>
      <ion-input value="{{parent.d_trafficker_name}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Otros Comentarios:</ion-label>
      <ion-textarea rows="5" value="{{parent.d_comment}}" [disabled]="true"></ion-textarea>
    </ion-item>

    <!-- <img src="{{parent.imgs}}" alt="imgs"> -->
  </ion-item-group>

  <ion-item-divider color="light" (click)="openGroup3()">
    Comentarios
    <ion-icon item-right [name]="g3icon"></ion-icon>
  </ion-item-divider>

  <ion-item-group #group3>
    <ion-card *ngFor="let comment of comments | async">
      <ion-card-header style="text-align: right;">
        {{ convertDate(comment)}}
      </ion-card-header>

      <ion-card-content>
        {{ comment.comment}}
      </ion-card-content>

    </ion-card>


    <ion-card>
        <ion-card-content style="padding: initial !important">
            <ion-item style="width: 80%; display:inline-block">
              <ion-input type="text" rows="5" [(ngModel)]="mycomment"></ion-input>
            </ion-item>

            
    <ion-buttons right style="width: 15%; display:inline-block" >
        <button ion-button icon-only (click)="sendComment()">
          <ion-icon name="text"></ion-icon>
        </button>
      </ion-buttons>
        </ion-card-content>
      </ion-card>

    
  </ion-item-group>


</ion-content>