<!--
  Generated template for the CommunityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">    
    <ion-title>Comunidad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let complaint of complaints | async" (click)="goToDetail(complaint)">
        <img src="{{ complaint.imgs }}" *ngIf="complaint.imgs.length"/>
        
        <img src="assets/preview.png" alt="preview" *ngIf="!complaint.imgs.length">
        <ion-card-content>
          <!-- <ion-card-title>
              {{ complaint.imgs }}
            </ion-card-title> -->
          <p>
              {{ complaint.description }}
          </p>
        </ion-card-content>
        <ion-row>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                <div>{{ convertDate(complaint) }}</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>0 Comentarios</div>
              </button>
            </ion-col>
          </ion-row>
      </ion-card>
</ion-content>
