page-community {
    
    ion-card-content p{
        display: inline-block;
        height: 80px !important;
        white-space:inherit; 
        text-overflow: ellipsis; 
        overflow: hidden
    }



}
