<ion-header>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Amazonia
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]">
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Contenido
      <img src="assets/img2.jpg">

    </ion-card-content>
  </ion-card>
</ion-content>
