<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Map</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #map id="map"></div>

  <ion-fab bottom right>
    <button ion-fab (click)="goMyPosition()" color="light">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>

  <button ion-button class="position-bottom" color="light" (click)="ready()">
    <ion-icon name="checkmark" class="margin5"></ion-icon>
    Listo
  </button>
</ion-content>
