<!--
<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let page of pages">
        {{ page.title }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
-->


<ion-tabs color="secondary">
  <ion-tab tabIcon="notifications" [root]="tab2Root"></ion-tab>
  <ion-tab tabIcon="search" [root]="tab3Root"></ion-tab>
  <ion-tab tabIcon="ios-people" [root]="tab4Root"></ion-tab>
</ion-tabs>
