<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Alert</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Descripción:</ion-label>
    <ion-textarea rows="5"></ion-textarea>
  </ion-item>

</ion-content>
