<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Denuncia</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
<!--
  <ion-item>
    <ion-label floating floating>Descripción:</ion-label>
    <ion-textarea rows="5"></ion-textarea>
  </ion-item>

-->
  <ion-item-divider color="light" (click)="openGroup1()">
    Lugar
    <ion-icon item-right [name]="g1icon"></ion-icon>
  </ion-item-divider>
  <ion-item-group #group1>
    <ion-item>
      <ion-label floating>Dirección:</ion-label>
      <ion-input [(ngModel)]="complaint.d_traffic_place_address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Distrito:</ion-label>
      <ion-input [(ngModel)]="complaint.d_traffic_place_district"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Provincia:</ion-label>
      <ion-input [(ngModel)]="complaint.d_traffic_place_province"></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="complaint.d_traffic_place_type">

      <ion-list-header color="light">
        Tipo:
      </ion-list-header>

      <ion-item *ngFor="let type of consts.place_types">
        <ion-label>{{ type }}</ion-label>
        <ion-radio [value]="type"></ion-radio>
      </ion-item>

    </ion-list>
    <ion-item>
      <ion-label floating>Otro</ion-label>
      <ion-input clearInput [(ngModel)]="complaint.d_traffic_place_type"></ion-input>
    </ion-item>

  </ion-item-group>
  <ion-item-divider color="light" (click)="openGroup2()">
    Animal
    <ion-icon item-right [name]="g2icon"></ion-icon>

  </ion-item-divider>
  <ion-item-group #group2>
    <ion-item>
      <ion-label floating>Descripción del animal. Ejemplo: Guacamayo, adulto, grande, verde y rojo</ion-label>
      <ion-textarea [(ngModel)]="complaint.d_animal_name"></ion-textarea>
    </ion-item>

    <ion-list radio-group [(ngModel)]="complaint.d_animal_specie">

      <ion-list-header color="light">
        Caracteristicas:
      </ion-list-header>

      <ion-item *ngFor="let specie of consts.animal_species" >
        <ion-label>{{ specie.text }}</ion-label>
        <ion-radio [value]="specie.text" (ionSelect)="changeAnimalSpecie(specie)"></ion-radio>
      </ion-item>

    </ion-list>

    <ion-list radio-group [(ngModel)]="complaint.d_animal_type">

      <ion-list-header color="light">
        Tipo:
      </ion-list-header>

      <ion-item *ngFor="let type of consts.animal_specie_types">
        <ion-label >{{ type }}</ion-label>
        <ion-radio [value]="type"></ion-radio>
      </ion-item>

    </ion-list>

    <ion-item>
      <ion-label floating>Otro</ion-label>
      <ion-input clearInput [(ngModel)]="complaint.d_animal_type"></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="complaint.d_animal_age">

      <ion-list-header color="light">
        Edad:
      </ion-list-header>

      <ion-item *ngFor="let age of consts.animal_ages">
        <ion-label >{{ age }}</ion-label>
        <ion-radio [value]="age" ></ion-radio>
      </ion-item>

    </ion-list>


    <ion-item>
      <ion-label floating>Tamaño:</ion-label>
      <ion-input [(ngModel)]="complaint.d_animal_size"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Color:</ion-label>
      <ion-input [(ngModel)]="complaint.d_animal_color"></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="complaint.d_animal_status">

      <ion-list-header color="light">
        Estado:
      </ion-list-header>

      <ion-item *ngFor="let state of consts.animal_status">
        <ion-label >{{ state }}</ion-label>
        <ion-radio [value]="state" ></ion-radio>
      </ion-item>

    </ion-list>


    <ion-item>
      <ion-label floating>Cantidad:</ion-label>
      <ion-input type="number" [(ngModel)]="complaint.d_animal_quanty"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Precio:</ion-label>
      <ion-input type="number" [(ngModel)]="complaint.d_animal_price"></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="complaint.d_animal_confinement">

      <ion-list-header color="light">
        Confinamiento:
      </ion-list-header>

      <ion-item *ngFor="let confinement of consts.animal_confinement">
        <ion-label >{{ confinement }}</ion-label>
        <ion-radio [value]="confinement" ></ion-radio>
      </ion-item>

    </ion-list>

    <ion-item>
      <ion-label floating>Otro</ion-label>
      <ion-input clearInput [(ngModel)]="complaint.d_animal_confinement"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>¿Conoce el nombre de la persona que esta traficando?:</ion-label>
      <ion-input [(ngModel)]="complaint.d_trafficker_name"></ion-input>
    </ion-item>

  </ion-item-group>

  <ion-item>
    <ion-label floating>Otros Comentarios:</ion-label>
    <ion-textarea rows="5" [(ngModel)]="complaint.d_comment"></ion-textarea>
  </ion-item>


  <button ion-item detail-none (click)="openMap()">
    <ion-label floating floating>Localización: </ion-label>
    <ion-input disabled value="Posición actual (haga click para cambiar)"></ion-input>
  </button>
  <ion-item text-center>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <button class="without-background" ion-button icon-only color="light" (click)="openCamera()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button class="without-background" ion-button icon-only color="light" (click)="openGallery()">
            <ion-icon name="photos"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-slides pager="true">
    <ion-slide *ngIf="!photos.length">
      <img src="assets/preview.png" alt="preview">
    </ion-slide>
    <ion-slide *ngFor="let photo of photos; let i = index;" [attr.data-index]="i" >
      <button ion-button icon-only class="delete-image" (click)="confirmDeleteImage(i)">
        <ion-icon name="close"></ion-icon>
      </button>
      <img [src]="photo.url" (click)="openModalGallery(i)">
    </ion-slide>
  </ion-slides>
</ion-content>
