page-complaint2 {
  ion-slides {
    height:200px;
  }

  .delete-image {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
  }

  .without-background.button-md{
      -webkit-box-shadow: initial;
      box-shadow: initial;
      width: 100%;
    }

  .without-background.button-md-light {
      background-color: rgba(255, 255, 255, 0.5);
  }

  ion-item-group {
    display: none;
  }

}
