<ion-header>

  <ion-navbar>
    <ion-title>Denuncia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content text-center>
  <button ion-button (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </button>

  <ion-slides zoom pager>
    <ion-slide *ngFor="let img of imgs">
      <div class="swiper-zoom-container">
        <img [src]="base64+img">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
